 <!-- Modal -->
 <div id="myModal" class="modal" *ngIf="showPopup" [style.display]="showPopup ? 'block' : 'none'" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click) = "hidePopup()">&times;</button>
          <h4 class="modal-title">Add New Product</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="productForm">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">               
            </div>
            <div class="form-group">
              <label>Type</label>
              <select class="form-control" formControlName="type">
                <option value="">Select</option>
                <option *ngFor="let type of productTypes" value={{type}}>{{type}}</option>                
              </select>
            </div>
            <div class="form-group">
              <label>Detail</label>
              <angular-editor formControlName="detail" [config]="editorConfig"></angular-editor>            
            </div>     
            <div class="form-group">
              <label>Image</label>
              <file-upload formControlName="productImg"></file-upload>          
            </div>     
            <div class="form-group">
              <div class="checkbox">
                <label><input formControlName="showPrice" type="checkbox" value="">Show Price</label>
                <input type="text" formControlName="price"  class="form-control"> 
              </div>
              <div class="checkbox">
                <label><input formControlName="showEnquiry" type="checkbox" value="">Enquire</label>
              </div>
            </div>                
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "hidePopup()">Close</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onSubmit()">Save</button>
        </div>
      </div>

    </div>
  </div>