<section id="products" class="home-section bg-gray paddingbot-60">
  <!-- <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow fadeInDown animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">
          <div class="section-heading text-center">
            <h2 class="h-bold">Products</h2>
            <p>Ea melius ceteros oportere quo, pri habeo viderer facilisi ei</p>
          </div>
        </div>
        <div class="divider-short"></div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 filter">
          <div class="grid-title"><i class="fa fa-filter"></i> Filters</div>
          <hr>

          <!-- BEGIN FILTER BY CATEGORY -->
          <div class="filter-name">Product</div>
          <div class="checkbox" *ngFor="let productType of productTypes">
            <label><input type="checkbox" class="icheck"> {{productType}}</label>
          </div>          
          <!-- END FILTER BY CATEGORY -->

          <div class="padding"></div>

          <!-- BEGIN FILTER BY DATE -->
          <!-- <div class="filter-name">Content</div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Application</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Design</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Desktop</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Management</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Mobile</label>
          </div> -->
          <!-- END FILTER BY DATE -->

          <div class="padding"></div>         
        </div>
        <div class="col-md-1 space"></div>
        <div class="col-md-9 search-result">
          <div class="row"><div class="page-title">Home > Products</div></div>
          <hr>         
          <div class="row" *ngFor="let item of arr">
            <div class="col-lg-12" >
              <div class="card col-lg-3" *ngFor="let obj of item">
                <a href="javascript:void(0);">
                  <img src="assets/img/products/{{obj.ImgName}}" alt="Denim Jeans" style="width:100%">
                  <div class="product-name">{{obj.BrandName}}</div>
                  <div class="content">{{obj.CONTENT}}</div>
                  <div class="pack">{{obj.Pack}}</div>
                  <!-- <p><button>View</button></p> -->
                </a>
              </div>
              
            </div>
          </div>
         
        </div>
      </div>
    </div>

  </div>

</section>