<section id="products" class="home-section bg-gray">
	<div class="container paddingbot-60">
		<div class="card">
			<div class="row">
				<div class="page-title">Home > Products > HEPATITIS A ADULT VACCINE</div>
			  </div>
			  <hr>
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></div>
							<div class="tab-pane" id="pic-2"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></div>
							<div class="tab-pane" id="pic-3"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></div>
							<div class="tab-pane" id="pic-4"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></div>
							<div class="tab-pane" id="pic-5"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></div>
						  </div>
						  <ul class="preview-thumbnail nav nav-tabs">
							<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></a></li>
							<li><a data-target="#pic-2" data-toggle="tab"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></a></li>
							<li><a data-target="#pic-3" data-toggle="tab"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></a></li>
							<li><a data-target="#pic-4" data-toggle="tab"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></a></li>
							<li><a data-target="#pic-5" data-toggle="tab"><img src="assets/img/products/hepatitis-a-adult-vaccine.png" /></a></li>
						  </ul>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Hepatitis A Adult Vaccine</h3>
						<div class="fram isq">
							<table class="table">
								<tbody>
									<tr>
										<td>Minimum Order Quantity</td>
										<td>50 Piece</td>
									</tr>
									<tr>
										<td>Packaging Type</td>
										<td>Box</td>
									</tr>
									<tr>
										<td>Injectable Form</td>
										<td>Liquid</td>
									</tr>
									<tr>
										<td>Dose/Strength</td>
										<td>1 ml</td>
									</tr>
									<tr>
										<td>Gender</td>
										<td>Unisex</td>
									</tr>
									<tr>
										<td>Packaging Size</td>
										<td>1 Dose</td>
									</tr>
									<tr>
										<td>Usage</td>
										<td>Hospital, Clinical</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="product-description">Aiming to satisfy our clients, we are offering a quality approved
							Hepatitis A Adult Vaccine of brand Havrix 1440 Vaccine. This Havrix vaccine is accurately
							processed as per the set medical norms by using advance technology and optimum quality
							chemicals procured from the most trusted vendors of the market. Along with that, to assure
							supreme quality, our Havrix vaccine is perfectly checked on every stage of formulation under
							the observation of accomplished professionals.</p>
						<h5 class="price">Approx: <span>Rs.20/ Piece</span></h5>						
						<h5 class="sizes features">Features:</h5>
						<ul><li>No side-effects</li><li>Quick result</li><li>Long shelf life</li></ul>
						<h5 class="colors description">Descriptions:</h5>
						<ul><li>HAVRIX® (hepatitis A vaccine, inactivated) is a sterile suspension containing formaldehyde-inactivated hepatitis A virus (HM175 hepatitis A virus strain) adsorbed onto aluminium hydroxide</li></ul>
						<!-- <div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span
									class="fa fa-heart"></span></button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>